build/
bin/
obj/
.DS_Store
ograf/dist/*.data
ograf/dist/*.js
ograf/dist/*.wasm
!ograf/dist/.gitkeep

!example-basic/bin/
example-basic/bin/*
!example-basic/bin/data/
example-basic/bin/data/*
!example-basic/bin/data/scene.json

!example-imgui/bin/
example-imgui/bin/*
!example-imgui/bin/data/
example-imgui/bin/data/*
!example-imgui/bin/data/scene.json

# The browser tutorial packages these files into index.data. Keep its font
# assets tracked even though generated bin directories are ignored globally.
!example-tutorials/bin/
example-tutorials/bin/*
!example-tutorials/bin/data/
example-tutorials/bin/data/*
!example-tutorials/bin/data/fonts/
!example-tutorials/bin/data/fonts/*.ttf

*.vcxproj.user
example-basic/dll/
