build/
bin/
obj/
.DS_Store
ograf/dist/*.data
ograf/dist/*.js
ograf/dist/*.wasm
!ograf/dist/.gitkeep

!example-basic/bin/
example-basic/bin/*
!example-basic/bin/data/
example-basic/bin/data/*
!example-basic/bin/data/scene.json

!example-imgui/bin/
example-imgui/bin/*
!example-imgui/bin/data/
example-imgui/bin/data/*
!example-imgui/bin/data/scene.json
*.vcxproj.user
example-basic/dll/
